<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (C) 2006-2008 the VideoLAN team

  This file is part of VLMa.

  VLMa is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.

  VLMa is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with VLMa. If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.directwebremoting.org/schema/spring-dwr
           http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

    <!-- Get data from VLMad -->

    <bean id="dataImporter" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:9050/VLMaDataService" />
        <property name="serviceInterface" value="org.videolan.vlma.Data" />
        <property name="refreshStubOnConnectFailure" value="true" />
    </bean>

    <!-- DWR configuration -->

    <dwr:configuration />

    <dwr:controller id="dwrController" debug="false" />

	<bean id="remoteController" class="org.videolan.vlma.web.dwr.RemoteController">
        <dwr:remote javascript="AjaxData">
            <dwr:include method="getOrdersCommands" />
        </dwr:remote>
    </bean>

</beans>
